{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ cliente.edad }}</td>
            </tr>
            <tr>
                <th>PrimerNombre</th>
                <td>{{ cliente.primerNombre }}</td>
            </tr>
            <tr>
                <th>SegundoNombre</th>
                <td>{{ cliente.segundoNombre }}</td>
            </tr>
            <tr>
                <th>PrimerApellido</th>
                <td>{{ cliente.primerApellido }}</td>
            </tr>
            <tr>
                <th>SegundoApellido</th>
                <td>{{ cliente.segundoApellido }}</td>
            </tr>
            <tr>
                <th>FechaNacimiento</th>
                <td>{{ cliente.fechaNacimiento ? cliente.fechaNacimiento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaCreacion</th>
                <td>{{ cliente.fechaCreacion ? cliente.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaActualizacion</th>
                <td>{{ cliente.fechaActualizacion ? cliente.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cliente.celular }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cliente_index') }}">back to list</a>

    <a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
