<form method="post" action="{{ path('app_direccion_delete', {'id': direccion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ direccion.id) }}">
    <button class="btn">Delete</button>
</form>
