{% extends 'base.html.twig' %}

{% block title %}Direccion index{% endblock %}

{% block body %}
    <h1>Direccion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for direccion in direccions %}
            <tr>
                <td>{{ direccion.id }}</td>
                <td>{{ direccion.descripcion }}</td>
                <td>
                    <a href="{{ path('app_direccion_show', {'id': direccion.id}) }}">show</a>
                    <a href="{{ path('app_direccion_edit', {'id': direccion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_direccion_new') }}">Create new</a>
{% endblock %}
