{% extends 'base.html.twig' %}

{% block title %}Direccion{% endblock %}

{% block body %}
    <h1>Direccion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ direccion.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ direccion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_direccion_index') }}">back to list</a>

    <a href="{{ path('app_direccion_edit', {'id': direccion.id}) }}">edit</a>

    {{ include('direccion/_delete_form.html.twig') }}
{% endblock %}
