{{ form_start(form) }}

        <div class="form-row ">           
            <div class="form-group col-md-4">                             
                <label class="small mb-1" >Nombre</label>
                {{ form_widget(form.nombre) }}
                {{ form_errors(form.nombre) }}                                  
            </div>
             <div class="form-group col-md-3">                             
                <label class="small mb-1" >Reporte</label>
                {{ form_widget(form.descripcion) }}
                {{ form_errors(form.descripcion) }}                                  
            </div>
           
        </div>


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
