<form method="post" action="{{ path('app_municipio_delete', {'id': municipio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ municipio.id) }}">
    <button class="btn">Delete</button>
</form>
