{% extends 'base.html.twig' %}

{% block title %}Municipio index{% endblock %}

{% block body %}
    <h1>Municipio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for municipio in municipios %}
            <tr>
                <td>{{ municipio.id }}</td>
                <td>{{ municipio.nombre }}</td>
                <td>
                    <a href="{{ path('app_municipio_show', {'id': municipio.id}) }}">show</a>
                    <a href="{{ path('app_municipio_edit', {'id': municipio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_municipio_new') }}">Create new</a>
{% endblock %}
