{% extends 'base.html.twig' %}

{% block title %}Departamento index{% endblock %}

{% block body %}
    <h1>Departamento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.id }}</td>
                <td>{{ departamento.nombre }}</td>
                <td>
                    <a href="{{ path('app_departamento_show', {'id': departamento.id}) }}">show</a>
                    <a href="{{ path('app_departamento_edit', {'id': departamento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_departamento_new') }}">Create new</a>
{% endblock %}
